@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "Inter",sans-serif !important;
}

.react-calendar__tile--active{
    background: aqua !important;
    color: black !important;
}

span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-weight: 600 !important;
}